@import "../../../utils/style/base.less";
.header-wrap {
  width: 100%;
  height: auto;
  background-color: @color-fff;
  .header-content {
    box-sizing: border-box;
    padding: 0.08rem 0.14rem;
    position: relative;
  }
}
